*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body{
  background-color: #24272E;
}
header{
  background-color: white;
  padding: 20px;
}
header > h1{
  text-align: center;
  font-weight: 900;
}
.score_board{
  border: 3px solid white;
  width: 200px;
  margin: 20px auto;
  color: white;
  font-size: 40px;
  text-align: center;
  padding: 15px 20px;
  border-radius: 4px;
  position: relative;
}
.badge{
  background-color: #f55c47;
  font-size: 14px;
  padding: 4px;
}
#user{
  position: absolute;
  top: 30px;
  left: -20px;
}
#comp{
  position: absolute;
  font-size: 14px;
  right: -20px;
  top: 30px;
}
.result{
  text-align: center;
  color: white;
  font-size: 40px;
  font-weight: bold;
}
.images{
  display: inline-block;
  margin: 20px 20px;

}
.choices{
  text-align: center;
}
img{
  border-radius: 50%;
}
img:hover{
 cursor: pointer;
}
.make{
  text-align: center;
  margin-top: 20px;
  color: white;
  font-size: 20px;
}
